body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    max-width: 1028px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.header-logo{
    display: flex;
    align-items: center;
}

.logo-img{
    display: block;
    position: relative;
}
.hover-logo{
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99999;
}
.header-logo:hover .holidays{
    transition: color 0.5s;
    color: #F26522;
}
.header-logo:hover .main-logo{
    opacity: 0;
    z-index: -99999;
    transition: .3s all;
}
.header-logo:hover .hover-logo{
    opacity: 1;
    transition: 0.5s all;
    left: 0;
}
.holidays{
    color: #FFFFFF;
    font-size: 29px;
    line-height: 29px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    text-transform: uppercase;
}
.milan{
    font-size: 18px;
}
.email,.telephone{
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.telephone{
    margin-top: 19px;
}
.gelary{
    max-width: 1028px;
    margin: 22px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 61px;
    grid-row-gap:31px;
}
.gelary-item{
    display: block;
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}
.gelary-img{
    position: relative;
}
.gelary-img{
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: content-box;
}
.gelary-item:hover .gelary-img{
    transition: 0.3s all;
    background-image: linear-gradient(to top, #000, #FFFFFF 100%);
}
.gelary-img img{
    z-index: 1;
    width: 100%;
    height: 100%;
}
.gelary-desc{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #F26522;
}
.gelary-detailes{
    margin-top: 8px;
}
.price{
    font-size: 20px;
}
.gelary-item:hover .gelary-desc{
    bottom:0;
    transition: 0.3s;
    opacity: 1;
    z-index: 99999;
    padding: 7px 16px 12px 16px;

}
.gelary-detailes{
    display: flex;
    justify-content: space-between;
}
.view-details{
    display: inline-block;
    padding-right: 16px;
    position: relative;
}
.view-details:after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    width: 6px;
    height: 6px;
    transform: rotate(320deg);
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.gelary-slog{
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
.gelary-item:hover .gelary-slog{
    color: #F26522;
    transition:  color 0.3s;
}
footer{
    margin-top: 42px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

