

@keyframes decoration-bg {
    0%{
        background-color: rgba(0,0,0,.5);
    }
    50%{
        background-color: rgba(0,0,0,.1);
    }
    100%{
        background-color: rgba(0,0,0,.5);
    }
}
@keyframes gallery-item-move  {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0%
    }
}
@keyframes gallery-item-show {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1 ;
    }
}

@keyframes move {
    0%{
        bottom: -72%;
    }
    25%{
        left: -45%;
    }
    45%{opacity: .9;
        background-color: rgba(255,255,255, 1);
    }
    100%{
        padding: 150px;
        opacity: 0;
        bottom: 152%
    }
}
@-webkit-keyframes fade {
    0% {
        display: block;
    }
    30%{
        transform: translateX(-40px);
    }
    70%{
        transform: translateX(40px);
    }
    100% {
        display: none;
    }
}