.modal{
  &-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
  }
  &__content{
    box-sizing: border-box;
    width: 480px;
    background-color: #e74c3c;
    border-radius: 5px;
    overflow: hidden;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.7);
    &--received{
      background-color: #64a951;
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #d44637;
    position: relative;
    font-size: 22px;
    padding: 20px 15px;
    &--received{
      background-color: #5a9649;
    }
  }
  &__description{
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
  }
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

