.header {
  background-color: #d7eef6;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }
  &__title{
    font-size: 14px;
    font-weight: normal;
    color: #577387;
  }
  &__logo {
    display: flex;
    align-items: center;
    max-width: 280px;
  }
}
.ul-row{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo-img{
  max-width: 140px;
}

.ul-row__item {
  padding: 10px 5px;
  margin: 0 5px;
  &__href{
    color: #577387;
  }
}