.standard-title{
  color: #577387;
  text-align: center;
}
.price-value{
  color: #fefefe;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #a3cdf2;
  border-radius: 5px;
}
.description{
  text-align: center;
  padding: 5px 0;
  color: #577387;
}
.modal__title{
  padding: 10px 0;
  background-color: #7cb0eb;
  color: #fefefe;
  box-shadow: 0 0 5px rgba(5, 39, 63, .7);
}