@media (min-width: 768px) and (max-width: 1199px) {

  .photos {
    background-color: $colorLightGrey;
    padding: 5% 10% 6% 8%;
      &--title__go {
        display: inline-block;
      }
      &__item {
        display: inline-block;
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(2) {
          padding-left: 1%;
          padding-right: 1%;
        }
      }
    }
  .footer {
    font-size: 16px;
  }
  }

  @media (min-width: 1200px) {
    .photos {
      background-color: $colorLightGrey;
      padding: 50px 0 50px 0;
      &--title {
        margin: 0 auto;
        width: 1170px;
        &__go {
          display: inline-block;
        }
      }
      &__gallery{
        margin: 0 auto;
        max-width: 1170px;
      }
      &__item {
        display: inline-block;
        width: calc((100% / 4) - 1%);
      }
    }
    .footer {
      font-size: 16px;
    }
  }


  
