.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colorBlack;
  padding: 38px 35px 47px 35px;
  box-sizing: border-box;
  &__title {
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  &__text {
    padding-top: 10px;
    line-height: 20px;
    padding-bottom: 26px;
    &__content{
      text-align: center;
      color: #B9B9B9;
      font-size: 12px;
      &--hide{
        display: none;
      }
    }
  }
  &__icons{
    padding-bottom: 25px;
  }
}
.round {
  display: inline-block;
  position: relative;
}
.icon {
  position: absolute;
  top: 30%;
  left: 35%;
}
.contacts__text{
  text-align: center;
  line-height: 24px;
  color: #B9B9B9;
}