header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container{
  width: 85%;
}
nav{
  display: flex;
  align-items: center;
}
.nav_ul {
  width: 80%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  margin: 0 auto;

  &__item {
    display: inline-block;
    //margin-right: 68px;
    padding: 45px 0;
    :hover{
      color: #57A4A4;
    }
  }
  &__item:last-child{
    margin-right: 0;
  }
  &__link{
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 21px;
    color: #4E4E4E;
    transition: 0.3s color linear;
  }
}
.nav-btn{
  display: none;
  width: 44px;
  padding: 13px 0;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &_line{
    transition: 0.3s linear transform;
    display: inline-block;
    background-color: white;
    height: 2px;
    margin-top: 2px;
    width: 17px;
  }
}

@keyframes openMenu {
  0% {
    opacity: 0;
  }
  100% {
    padding: 10px 0 0 0;
    opacity: 1;
  }
}

