.photos {
  display: flex;
  flex-direction: column;
  padding: 9% 12% 10% 7%;
  width: 100%;
  box-sizing: border-box;
  &__gallery{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &--title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;

    &__go{
      display: none;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;
      color: $colorDarkGrey;

    }
    &__text{
      font-size: 14px;
      line-height: 22px;
      color: $colorDarkGrey;
      text-transform: uppercase;
    }
  }
  &__item{
    display: none;
    width: 100%;
    & > img {
      width: 100%;
    }
    &:nth-child(1){
      display: inline-block;

      //& > img {
      //  width: 100%;
      //}
    }

  }

}
