.our-post{
  margin-top: 66px;
  &_title{
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    color: #4E4E4E;
  }
}
.our-post_gallery{
  display: flex;
  flex-wrap:wrap;
}
.our-post_gallery__item{
  flex-basis: 50%;
  display: flex;
  margin-bottom: 16px;
}
.our-post_gallery-img-container{
  flex-basis: 42%;
}
.our-post_gallery-text{
  box-sizing: border-box;
  padding: 0 25px;
  &__sub-title{
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
  }
  &__text-comment{
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
  }
  &__description{
    font-size: 14px;
    line-height: 26px;
    color: #5C5C6C;
  }
}
.our-post_gallery-text:nth-child(2),.our-post_gallery-text:nth-child(4){
  padding-right: 0;
}

