.container {
    margin: 80px  auto 0 auto;
    width: 500px;
    display: flex;
    position: relative;
}
.label-decoration{
    padding: 20px;
    background: #0ec3c3;
    box-shadow: inset 0 0 7px 3px rgba(15, 54, 125, 0.5);
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 17px;
}
.button-decoration{
    padding: 20px;
    background: #0ec3c3;
    box-shadow: inset 0 0 7px 3px rgba(15, 54, 125, 0.5);
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 17px;
    outline: none;
    border: none;
}
.input-decoration::-webkit-outer-spin-button,
.input-decoration::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-decoration{
    border: 1px solid cadetblue;
    padding: 10px 5px;
    box-sizing: border-box;
    width: 80%;
    outline: none;
    -webkit-appearance: none;
}
.input-decoration-focus{
    border: 3px solid  #5baf51;
}
.price-decoration{
    position: absolute;
    left: 0;
    bottom: 100%;
    display: inline-block;
    padding: 10px 5px;
    color: green;
}
.input-error{
    border: 3px solid red;
    color:red;
    font-weight: bold;
}
.error-price-decoration{
    color: red;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 10px 0;
    display: inline-block;
}
.input-true{
    color: #5baf51;
    font-weight: bold;
}