*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  width: 100%;
}

.main{
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
  grid-template-columns: 200px auto;
}