html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*header*/
header{
    margin-top: 61px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.tagline-link {
    display:inline-block;
    font-size: 80px;
    text-decoration: none;
    color: #0bc5ef;
}
.tagline-style{
    color: #000000;
}
/*nav*/
nav{
    margin-top:38px;
    background-color: #35444F;
}
nav ul{
    max-width: 955px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
nav ul li a{
    display: inline-block;
    padding:26px 32px 19px 32px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
}
nav ul li a:hover{
    background-color: #222F3A;
    transition: 0.3s all;
}
main{
    max-width: 1280px;
    margin: 30px auto 0 auto;
}

aside{
    box-sizing: border-box;
    display: inline-block;
    width: 344px;
}
.navigation{
    border:1px solid #000000;
}
.navigation li a{
    display: inline-block;
    padding: 27px 0 27px 44px;
    font-size:24px;
    line-height: 24px;
    text-decoration: none;
    color: #485863;
    text-transform: uppercase;
}
.navigation li:hover{
    background-color: #DBDBDB;
    padding-left: 33px;
    transition: 0.5s all;
}
.about-us{
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 401px);
    vertical-align: top;
    margin-left: 52px;
}
.about-us-container{
    border:1px solid black;
}
.about-logo{
    display: flex;
    height: 531px;
    align-items: center;
    justify-content: center;
}
.about-us p{
    font-size: 18px;
    line-height: 24px;
    padding-top: 34px;
    color: #2C2C2C;
}
footer{
    margin-top: 54px;
    height: 100px;
    background:rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
}
.footrer-navigation{
    display: flex;
}
.footrer-navigation a{
    display: inline-block;
    font-size: 28px;
    padding:36px 0 28px;
    margin-left: 40px;
    text-decoration: none;
    color: #0C1927;
    margin-bottom: 8px;
}
.footrer-navigation a:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    transition: 0.5s all;
}

.date{
    display: inline-block;
    font-size: 28px;
    padding:36px 40px 36px 0;
    color: #0C1927;
}

