*{
    padding: 0;
    margin: 0;

}
.container{
    background-color:#262b3c;
    perspective: 676px;
    overflow: hidden;
}
.text {
    transform-style: flat;
    transform: rotateX(45deg);
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 850px;
}
.text-content{
    position: absolute;
    animation-name: text-move;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    padding:20px 0;
}
.desc{
    font-weight: bold;
    color: gold;
    font-size: 38px;
    text-align: center;
    padding: 35px 0;

}
@keyframes text-move {
    0%{
        bottom: -850px;

    }
    100%{
        bottom: 850px;
    }
}