@import "section/reset";
@import "mixin/mixin";
.container{
  width: 85%;
  box-sizing: border-box;
  margin: 0 auto;
}
* {
  font-family: sans-serif;
}
img{
  width: 100%;
}
@import "section/nav";
@import "section/post-gallery";
@import "medescrean/madia_screen";
@import "section/veriables";
@import "section/photos";
@import "section/footer";
@import "section/all-media";
