html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #313131;

}
.logo-slog{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    height: 70px;
    font-size: 22px;
    line-height: 29px;
    text-decoration: none;
}
.logo-slog::before{
    content: url("../images/logo-img 1.jpg");
    display: inline-block;
    margin: 0 27px
}
.logo-slog:hover{
    color: #14B9D5;
    transition: 0.5s color;
}
nav ul {
    display: flex;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 28px 18px 26px 18px;
    font-weight: 600;
    cursor: pointer;
}
nav ul li a:hover{
    color: #14B9D5;
    transition: 0.5s color;
}
.nav-item-1{
    padding-left: 0;
}
.search{
    display: inline-block;
    background-color: black;
    border: none;
    outline: none;
    padding: 0 27px;
    cursor: pointer;
}
.search::before{
    content: url("../images/search.png");
}
.news-design{
    text-align: center;
    background-image: url("../images/news-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.new-design-decoration{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    background-color: rgba( 0,0,0,.5);
    transition: 0.5s linear background-color;
}
.new-design-decoration:hover{
    background-color: rgba( 0,0,0, .0);
}
.design-slog{
    padding-top: 163px;
    color: white;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 38px;
}
.news-action{
     padding-top: 44px;
    padding-bottom: 74px;
 }
.Subscribe, .Best-Articles{
    background-color:#89CA62;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 16px 19px 17px;
    border-radius: 5px;
    font-weight: 600;
    line-height: 25px;
    font-size: 18px;
}
.Best-Articles{
    margin-left: 20px;
    background-color:#14B9D5;
}
.popular-posts{
   background-color: #F2F2F2;
    padding-bottom: 72px;
}
.posts-slog{
    text-transform: uppercase;
    padding-top: 49px;
    text-align: center;
    color: #18B4CF;
    font-weight: bold;
    line-height: 37px
}
.posts-gelary{
    max-width: 1170px;
    margin: 21px auto 0;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 880px;
    display: flex;
}
.post-galary-container{
    display: none;
}
.posts-gelary-visible{
   display: block;
}
.posts-gelary-item {
    margin-top: 31px;
    max-width: 370px;
    overflow: hidden;
}
.posts-gelary-item img{
    width: 100%;
    display: block;
}
.posts-gelary-item p{
    background-color: white;
    padding: 22px 0 20px;
    color: #353A3D;
    font-weight: bold;
    text-align: center;
}
.our-clients{
    background-image: url("../images/our-clients-bg.png");
    background-size: 100%;
    background-attachment: fixed;
    perspective: 1px;
}
.our-clients-slog{
    padding-top: 110px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    font-size: 32px;
}
.row{
    background-color: #18B4CF;
    display: block;
    height: 3px;
    width:60px;
    margin: 0 auto;
    margin-top: 87px;
}
.our-clients-gelary{
    width: 1170px;
    margin:110px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 192px;

}
.our-clients-gelary img{
    margin: auto;
}
.top-rated{
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
    color: #18B4CF;
}
.top-rated-gelary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.top-rated-gelary img{
    width: 100%;
}
/*news*/
.news{
    max-width: 1170px;
    margin: 0 auto;
}
.news-slog{
    text-transform: uppercase;
    text-align: center;
    color: #18B4CF;
    padding: 50px 0;
}
.news-blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}
.news-img{
    width: 100%;
    height: 100%;
}
.hot-news{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    background-color: #F9F7F7;
    grid-template-columns: 1fr 1fr;
}
.hot-news-img{
    width: 100%;
}
/*этот клас существует, для того чтобы если картинка будет плохого формата и странных размеров, чтобы она наормально вставилась и не поломала код*/
.hot-news-description{
    padding: 0 24px;
    text-align: right;

}
.hot-news-slog{
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}
.hot-news-description p{
    line-height: 21px;
    font-weight: 600;
    color: #5B6469;
}
.hot-news-small{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #F9F7F7;
}
.small-news-img{
    overflow: hidden;
}
.small-news-slog{
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
    line-height: 21px;
}
.basic-news-first, .basic-news-third{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 15px;
    text-align: right;
    background-color: #F9F7F7;
}
.basic-news-second, .basic-news-fourth{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-left: 15px;
    text-align: right;
    background-color: #F9F7F7;
}
.basic-news-img{
    overflow: hidden;
}
.basic-news-slog{
    padding: 15px 14px 11px 0;
}
.basic-news-description{
    line-height: 21px;
    font-weight: 600;
    color: #5B6469;
}
.last-news-small{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #F9F7F7;
}
.last-news-small-slog{
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
    line-height: 21px;
}
.last-news{
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F7F7;
}
.last-news-description{
    padding: 0 24px;
    text-align: right;
}
.last-news-slog{
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}
.last-news-description p{
    line-height: 21px;
    font-weight: 600;
    color: #5B6469;
}

footer{
    background: #000000;
    height: 80px;
    margin-top: 77px;
}
.footer-container{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;

}
.footer-container p{
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}
.footer-logo{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-logo a{
    color: #ffffff;
    text-decoration: none;
}
.to-top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgba(0,0,0, 0.8);
    box-shadow: 0 0 15px rgba(12,44,255, 0.9);
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    color: lemonchiffon;
    z-index: 99999;
}
.to-top-btn-hidden{
    opacity: 0;
    display: none;
}
.post-slog__container{
    position: relative;
}
.post-gallery__btn{
    position: absolute;
    width: 24px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #14B9D5;
    left: 61%;
    top: 51px;
}
.post-gallery__line{
    background-color: white;
    height: 2px;
}