*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background: rgba(0, 0, 0, 0.4);

}
.header-container{
    max-width: 1178px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    transition: color 0.3s linear;
}
.header-logo:hover{
    color: #3CB878;
}
.icon-container{
    display: inline-block;
    padding: 17px 14px;
}
.icon-container:hover .soc-icon{
    fill: #3CB878;

}
.soc-icon{
    height: 21px;
    width: 24px;
    fill: white;
    transition: fill 0.3s linear;
}

.header-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-action{
    margin-left: 25px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.log-in, .sing-up{
    display: inline-block;
    line-height: 14px;
    padding: 17px 2px;
    color: white;
    text-decoration: none;
    transition: color .3s linear;
}
.header-action-text{
    display: inline-flex;
    align-items: center;
    position: relative;
}
.header-action-text:first-child:before{
    content: "";
    display: inline-block;
    height: 24px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    margin-right:23px;

}
.log-in:hover ,.sing-up:hover{
    color: #3bb878
}
.hotel-container {
    display: flex;
    align-items: center;
    height: calc(100vh - 59px);
    justify-content: center;
}
.form-position{
    width: 444px;
    padding: 31px 60px;
    background-color: white;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    box-sizing: border-box;
    position: relative;
}
.form-title{
    display: flex;
    justify-content: space-between;
}
.form-title:before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 0;
    top: 32px;
    background-color: #3CB878;
}
.form-sign{
    font-size: 20px;
    line-height: 20px;
}
.form-login{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    transition: color 0.3s linear;
}
.form-title:hover .form-login{
    color: #01813F;
}
.form-soc{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.soc-link{
    display: flex;
    align-items: center;
    background-color: #305DB8;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    transition: background-color 0.3s linear;
}
.soc-link:hover{
    background-color: #022263;
}
.google:hover{
    background-color: #AB1F09;
}
.soc-link span{
    display: inline-block;
    margin-left: 25px;
}
.form-icon-container{
    position: relative;
}
 .form-icon-container:after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 28px;
    left: 100%;
    top:0;
    opacity: 0.1;
    background-color: #0A162F;
}
.google{
    background-color: #DF4A32;
}
.form-icon{
    width: 30px;
    height: 24px;
    fill: white;
}
.form-or{
    display: flex;
    text-align: center;
    align-items: center;
    color: #848484;
    padding: 31px 0 11px;
}
.form-or:before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-right: 5px;
}
.form-or:after{
    content: "";
    width: 100%;
    margin-left: 5px;
    height: 1px;
    background-color: #F2F2F2;
}
.form-name{
    display: block;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #434343;
    outline: none;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    transition: box-shadow 0.5s linear;
}
.form-name:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-checkbox{
    display: flex;
    align-items: center;
    padding: 2px 0 10px;
}
.checkbox-info{
    display: inline-block;
    padding-left: 10px;
    color: #434343;
    cursor: pointer;

}
.checkbox-title{
    color: #3CB878;
    border-bottom: 1px solid transparent;
    transition: color, border  0.3s linear;
}
.form-checkbox:hover .checkbox-title{
    border-bottom: 1px solid #3CB878;
    color: #3bb878;
}
.form-checkmark{
    display: none;
}
.check-result{
    display: inline-block;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s linear;
}
.form-checkmark:checked ~ .check-result:before{
    opacity: 1;
    pointer-events: initial;
}
.check-result:before{
    content: "";
    height: 17px;
    width: 8px;
    border-right: 2px solid #3bb878;
    border-bottom: 2px solid #3bb878;
    transform: rotate(35deg);
    position: absolute;
    top:0;
    left: 6px;
    display: inline-block;
    opacity: 0;
    transition: 0.3s opacity linear;
}
.form-create{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 16px 0;
    color: white;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: background-color 0.3s linear;
}
.form-create:hover{
    background-color: #01813F;
}