.gallery-item {
  padding: 15px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-card {
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: 1s width linear;
    background-color: #7cb0eb;
  }

  &:hover:after {
    width: 100%;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__favourite {
    padding: 10px 0;
    margin-left: auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      color: #7cb0eb;
    }
  }

  &__action {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
  }
}