
.btn{
  padding: 8px 12px;
  outline: none;
  box-sizing: content-box;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &--card{
    color: #fefefe;
    font-size: 16px;
    background-color: #7cb7eb;
    border-radius: 5px;
  }
  &--ok{
    background-color: #7cb0eb;
    color: #fefefe;
    border-radius: 5px;
  }
  &--cancel{
    background-color: #7cb0eb;
    color: #fefefe;
    border-radius: 5px;
  }
}
.btn--close{
  top: 4px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  color: white;
}