.standardBtn{
  display: block;
  cursor: pointer;
  padding: 20px 40px;
  margin: 0 20px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.8);
  border: none;
  border-radius: 10px;
  color: #f3e5e5;
  &--cancel{
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 0;
    font-size: 12px;
    width: 100px;
    background-color: #b3382c;
  }
  &--received{
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px 0;
    font-size: 12px;
    width: 100px;
    background-color: #5a9649;
  }
}

.closeBtn{
  position: absolute;
  right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  color: white;
}