.productsList{
  padding-top: 40px;
}
.nav-item{
  display: block;
  padding: 5px;
  margin: 3px 0;
  box-sizing: border-box;
  position: relative;
  &:after{
    content: "";
    width: 2px;
    height: 0;
    background-color: #7cb0eb;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s height linear;
  }
  &__href{
    color: #577387;
  }
}
.nav-item:hover:after{
  height: 100%;
}
