.btn-wrapper{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #000000;
    cursor: pointer;
}
.btn:active,
.btn:focus{
    outline: none;
}
.btn-decoration{
    box-shadow: 0 0 5px 1px rgba(3, 80, 253, 0.8);
    background-color: #2c4282;
    transition: 0.3s all linear;
}