@media (max-width: 1199px) and (min-width: 768px) {
  .nav {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .nav_ul {
    justify-content: space-between;

    &__item {

      font-size: 11px;
    }
  }
  .our-post_gallery {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .our-post_gallery {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav-container {
    justify-content: flex-end;
  }
  nav {
    position: relative;
  }
  .nav_ul{
    width: auto;
  }
  .nav-btn {
    margin: 23px 0;
    display: flex;

  }
  .nav-btn__active>span {
    transition: 0.3s transform linear;

    &:nth-child(1) {
      transform: translate(1px, 4px) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translateX(-80px);
    }

    &:last-child {
      transform: translate(1px, -4px) rotate(134deg);
    }
  }
  .nav_ul {
    display: none;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 51px;

    &__item {
      padding: 0;
      background-color: #F5F5F5;
      margin-right: 0;
      width: 182px;
    }

    &__item:first-child {
      padding-top: 2px;
    }

    &__link {
      padding: 8px 0 0 13px;
      box-sizing: border-box;
    }
  }
  .nav_ul__opened {
    display: flex;
    visibility: visible;
    animation: openMenu linear 0.3s forwards;
  }
  .our-post_gallery__item {
    flex-basis: 100%;
    flex-direction: column;

    &:last-child {
      display: none;
    }
  }
  .our-post_gallery-img-container {
    flex-basis: 100%;
    width: 50%;
    max-width: 255px;
  }
  .our-post_gallery-text{
    padding: 11px 0 0 0;
  }
  .our-post_gallery-text__description{
    display: none;
  }
}

