*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
/*header*/
header{
    font-size: 18px;
    background: rgba(0, 0, 0, 0.0001);
}
nav{
    max-width: 620px;
    margin: 0 auto;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #FF0000;
    letter-spacing: 2.7px;
    font-weight: bold;
    padding: 25px 0;
    line-height: 18px;
}
.photo{
    display: inline-block;
    width: 100%;
}
.photo-description{
    text-align: center;
    padding: 0 67.5px;
    letter-spacing: 2.4px;
    font-size: 16px;
    color: #373737;
    line-height: 26px;
}
.photo-slog{
    padding: 48px 0;
    text-transform: uppercase;
    color: #373737;
}
.photo-about{
    margin-left: 25px;
}
.how-make{
    padding-top: 24px;
}
.start{
    margin-top: 66px;
    font-size: 12px;
    font-weight: bold;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    background-color: #FF0000;
    padding: 20px 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer ;
}
footer{
    margin-top: 42px;
    color:#373737;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
}
.photo-time{
    padding: 42.5px 105px 42.5px 0;
}