.modal-container{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    &-content{
        position: relative;
        background-color: #c6daea;
        width: 480px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
    &__description{
        padding: 15px 7px 0 7px;
        line-height:28px;
        color: #577387;
    }
    &-button{
        display: flex;
        justify-content: space-between;
        padding: 15px 17px;}
}